* {
    font-family: 'poppins', sans-serif;
}

.section-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background: url('background1.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

.section-login .form-box {
    position: relative;
    width: 350px;
    height: 500px;
    padding-top: 25px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-login .form-box .form-value {
    width: 310px;
    height: 450px;
}

.h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .3s ease-in-out;
}

input:focus~label,
input:valid~label {
    top: -1px;
}

.floating.active {
    top: -8px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 25px 5px 5px;
    color: #fff;
}

.inputbox .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.forget label input {
    margin-right: 3px;
}

.forget .forget-pass {
    color: #fff;
    text-decoration: none;
}

.forget .forget-pass:hover {
    text-decoration: underline;
}

.button-login {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.link p {
    margin-bottom: 15px;
}

.link p .register-link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.link p .register-link:hover {
    text-decoration: underline;
}

.containter form .input-error {
    outline: 1px solid rgb(255, 72, 72);
}

.container form .error-message {
    color: rgb(255, 72, 72);
    font-size: 0.75rem;
    margin-bottom: 5px;
}