.container {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background:  url('background3.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

.container .header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .header span {
    padding-top: 8px;
    font-weight: 500;
    font-size: 2em;
    line-height: 24px;
    color: #fff;
}

.recuperar-container {
    width: 350px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recuperar-container .form-recuperar form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.inputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputContainer label {
    position: absolute;
    top: 50%;
    left: 5px;
    padding: 5px;
    transform: translateY(-100%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .3s ease-in-out;
}

.inputContainer input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 25px 5px 5px;
    color: #fff;
}

.button-recuperar {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.footer {
    font-size: 1em;
    color: #fff;
    text-align: center;
    margin: 15px 0 10px;
}

.footer a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.footer a:hover {
    text-decoration: underline;
}

/* @media screen and (max-width: 768px) {
    .form-recuperar form .inputContainer {
        width: 80%;
    }

    .form-recuperar form #button {
        width: 80%;
    }
} */