.sobre-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: #dddddd;
}

.missao-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 10vh;
}

.missao-imagem {
    display: flex;
    width: 250px;
    height: 48vh;
    margin-right: 50vw;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.missao {
    position: absolute;
    width: 50%;
    right: 1%;
    text-align: center;
}

.missao-container .missao p {
    font-weight: bold;
    font-size: 2em;
}

.missao-container .missao span {
    font-size: 1.2em;
}

.missao-container .missao span span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    font-weight: bold;
}

.espaco {
    display: flex;
    position: relative;
    width: 100%;
    height: 15vh;
}

.historia-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.historia-imagem {
    width: 500px;
    margin-left: 50vw;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.historia {
    position: absolute;
    width: 50%;
    left: 1%;
    text-align: center;
}

.historia-container .historia p {
    font-weight: bold;
    font-size: 2em;
}

.historia-container .historia span {
    font-size: 1.3em;
}

.historia-container .historia span span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    font-weight: bold;
}

.feedback-container {
    width: 90%;
    min-height: 25vh;
    margin-bottom: 2vh;
}

.container-feed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 25vh;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);
    background: transparent;
}

.feedback-container h3 {
    font-size: 3em;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 75%;
}

.feedback-container .feedback span {
    font-size: 1.2em;
}

.feedback-button {
    display: flex;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.feedback-button a {
    width: 100px;
    font-size: 1.3em;
    border-radius: 3px;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);
}

.feedback-button a:hover {
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

@media screen and (max-width: 912px) {

    .missao-container,
    .historia-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 10px;
    }

    .missao,
    .historia,
    .missao-imagem,
    .historia-imagem {
        position: relative;
        margin: 0;
    }

    .missao,
    .historia {
        width: 90vw;
    }

    .missao-imagem {
        width: 175px;
        height: auto;
    }

    .historia-imagem {
        width: 300px;
    }
}

.carousel-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 75px;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}