html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.nav::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent,rgba(0, 0, 0, .1), transparent);
    transition: .5s;
}

.nav:hover::after {
    left: 100%;
}

.nav_item .active {
    background-color: darkgreen;
}

.nav_link {
    display: block;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.nav_brand {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 3%;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav_menu {
    display: flex;
    align-items: center;
}

.item a:hover {
    color: rgb(107, 107, 107);
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 3%;
}

.icon_user {
    cursor: pointer;
}

.icon_user a:hover {
    color: #fff;
}

.nav_user {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.nav_user .user p {
    color: black;
}

.btn_not_user {
    white-space: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.btn_not_user .botao_login,
.btn_not_user .botao_register {
    color: black;
}

.btn_not_user .botao_login:hover {
    color: rgb(255, 215, 215);
}

.btn_not_user .botao_register {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.btn_not_user .botao_register:hover {
    border: 1px solid rgb(255, 215, 215);
    color: rgb(255, 215, 215);
}

.nav_toggler div {
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: darkgray;
    transition: 0.4s ease-in;
}

.nav_toggler {
    cursor: pointer;
    display: none;
}

.user_container2 {
    display: none;
}

@media screen and (max-width: 912px) {
    .nav_toggler {
        display: block;
        margin-right: 5%;
    }

    .nav_brand {
        display: flex;
        color: black;
    }

    .img {
        width: 6rem;
    }

    .item {
        flex-direction: column;
        margin-top: 15%;
    }

    .nav_menu {
        position: fixed;
        top: 8vh;
        right: 0;
        width: 50%;
        height: 80vh;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        gap: 25%;
    }

    .nav_link {
        margin: 3rem;
    }

    .nav_user {
        width: 40vw;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .user p {
        width: 40vw;
        font-size: 1.5rem;
        overflow-wrap: break-word;
    }

    .sign_out {
        text-align: center;
        width: 100px;
        height: 4vh;
    }

    .btn_not_user {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .user_container {
        display: none;
    }

    .user_container2 {
        display: flex;
    }

}

@media screen and (max-width: 767px) {
    .nav_toggler {
        display: block;
        margin-right: 5%;
    }

    .nav_brand {
        display: flex;
        color: black;
    }

    .img {
        width: 6rem;
    }

    .item {
        flex-direction: column;
        margin-top: 15%;
    }

    .nav_menu {
        position: fixed;
        top: 8vh;
        right: 0;
        width: 50%;
        height: 80vh;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        gap: 25%;
    }

    .nav_link {
        margin: 1rem;
    }

    .nav_user {
        width: 40vw;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .user p {
        width: 40vw;
        font-size: 1.5rem;
        overflow-wrap: break-word;
    }

    .sign_out {
        text-align: center;
        width: 100px;
        height: 4vh;
    }

    .btn_not_user {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .user_container {
        display: none;
    }

    .user_container2 {
        display: flex;
    }

}

@media screen and (max-width: 350px) {
    .nav_toggler {
        display: block;
        margin-right: 5%;
    }

    .nav_brand {
        display: flex;
        color: black;
    }

    .img {
        width: 6rem;
    }

    .item {
        flex-direction: column;
        margin-top: 15%;
    }

    .nav_menu {
        position: fixed;
        top: 8vh;
        right: 0;
        width: 50%;
        height: 80vh;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease;
        overflow: none;
        gap: 7%;
    }

    .nav_link {
        margin: 1rem;
    }

    .nav_user {
        width: 40vw;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .user p {
        width: 40vw;
        font-size: 1.5rem;
        overflow-wrap: break-word;
    }

    .sign_out {
        text-align: center;
        width: 100px;
        height: 4vh;
    }

    .btn_not_user {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .user_container {
        display: none;
    }

    .user_container2 {
        display: flex;
    }

}

.nav_active {
    transform: translateX(0);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}

.modal-admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-admin-content {
    width: 50vw;
    max-width: 50vw;
    max-height: 300px;
    height: 300px;
    background-color: #555;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.modal-admin-container {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
}

.modal-admin-container .title-modal-admin {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 5px;
}

.modal-admin-container input {
    padding: 0 5px;
    margin-bottom: 5px;
    text-align: start;
    border: none;
    background: transparent;
    border-bottom: 2px solid black;
}

.modal-admin-container input:hover {
    border-bottom: 2px solid green;
}

.modal-admin-content .modal-admin-close {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: transparent;
    color: transparent;
}

.modal-admin-content .modal-admin-close button {
    font-size: 2rem;
    background-color: transparent;
    color: black;
}

.modal-admin-content .modal-admin-entrar button {
    font-size: 2rem;
    background-color: transparent;
    color: black;
}

.modal-admin-content .modal-admin-entrar button:hover {
    color: blue;
}

.modal-admin-content .modal-admin-close button:hover {
    color: red;
}